.screen-RefreshButton {
  color: #faeb92;

  svg {
    width: 24px;
    height: 24px;
  }

  span {
    font-size: 14px;
    font-weight: bold;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &.loading {
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
