.screen-Screen {
    width: 100vw;
    height: 100dvh;
    position: relative;
    overflow: hidden;


    .screen-border {
        position: absolute;
        border: 2px dashed #999;
        pointer-events: none;
        z-index: 1;
    }

    .loading-overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        pointer-events: none;
    }

    .image {
        position: absolute;
        pointer-events: none;
        object-fit: fill;
    }
}