.mouse-DesktopMouse {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  pointer-events: none; /* Desktop mouse should not capture events, window listeners do */
  touch-action: none;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(-12px, -12px);
  z-index: 1000;
}
