.text-TextButton {
  /* Inherits form DraggableButton, specific overrides here if any */
  color: #faeb92;

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
